/*
filename: styles.css
author: [Aria Jaensch, Oscar Thomas, Callahan Elliott, Noah Munro]
created: 25-03-17
last modified: 25-04-06
*/

:root {
    /* Header and Footer text colour*/
    --lightblue: #D7EBFA;
    /* Hover text colour */
    --hoverblue: #0078D7;
    /* Main text and header background colour */
    --dark1: #201E23;
    /* Footer background colour */
    --dark2: #251927;
    /* Main background colour */
    --pink1: #EEEAFC;
    /* Body background colour */
    --pink2: #E6DFFC;
    /* Placeholder Gray */
    --phgray: #808080;
}   
* {
    font-family:'myriad-pro-light', Tahoma, sans-serif;
    color: var(--dark1);
    line-height: 1.6;        
    word-spacing: 0.05em; 
}
body {
    background-color:var(--pink2);
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main{
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    flex: auto;
    margin: auto;
    background-color: var(--pink1);
    padding: 2em;
}
#services_content {
    padding-left: 8%;
    padding-top: 5%;
}
h1 {
    font: normal 700 2em 'arya-double', Helvetica, sans-serif;
    color: var(--dark1);
    margin-top: 0;
}

h2{ 
    font-family: 'apparat-thin', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}

img { max-width: 100%; }

.JobSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    gap: 20px;
    padding: 20px;
}

.JobSpan {
    display: flex;
    flex-direction: column; 
    max-width: 60%; 
}

.JobImage {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-top: 150px; 
    padding-right: 10px; 
}

.JobTitle {
    text-align: center; 
    width: 100%; 
    margin: 0 auto;
    font-size: 2em;
}

/* button hover effect */
nav ul li, .hover-link {
    transition: transform 0.2s;
    & a {
        transition: color 0.2s;
    }
}
nav ul li:hover, .hover-link:hover {
    & a {
        color: var(--hoverblue);
    }
    transform: scale(1.1);
}

/* position email link in header */
#header-email {
    margin: 0 15px 0 auto;
}

header {
    padding: 8px;
    background-color: var(--dark1);
    display: flex;
    align-items: center;
    column-gap: 1em;
    box-shadow: 0px 0px 2px 1px var(--dark1);
    position: relative; /* makes box shadow render properly */
    & a {
        color: var(--lightblue);
        display: flex;
        align-items: center;
    }
}

/* layout for navbar links */
nav ul {
    margin: 0;
    column-gap: 1em;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & a {
        gap: 0.2em;
        text-decoration: none;
        padding: 15px 0 15px 0;
    }
}

#navbar {
    font-family: 'apparat-thin', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: large;
}

/* scale header logo */
#header-logo { width: 10em; }

/* footer */
footer {
    position:relative;
    box-shadow: var(--dark2) 0 -1px 1px;
    background-color: var(--dark2);
    color: #D7EBFA;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    & ul {
        list-style: none;
        padding: 0;
        flex-direction: column;
    }
    h2, a, p {
        color:#D7EBFA;
    }
}

/* position copyright text in footer */
.Copyright {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    padding: 10px; 
    margin: 10px;
}

/* scale video on index.html */
video {
    width: 100%;
    height: auto;
}

/* Apply.html */
/* Fieldsets */
fieldset {
    display: grid;
    grid-template: 20px 58px 20px 58px / 50% 50%;
    column-gap: 40px;
    padding-left: 10%;
    padding-right: 15%;
    padding-bottom: 20px;
    border: none;
    align-self: center;
}
#job_reference_number, #contact_fieldset {
    grid-template: 20px 50px / 50% 50%;
}
#skill_field {
    grid-template: repeat(10, 25px) / 50% 50%;
}
#language_field {
    grid-template: 25px 25px 25px 25px / 1fr 1fr 1fr;
}
#otherskill_field {
    grid-template: 20px 150px / 100%;
}
#button_field {
    grid-template: 30px / 15% 1fr 1fr 1fr 15%;
    column-gap: normal;
}
/* Fieldsets end */
label {
    align-self: center;
}
#otherskillslabel {
    font-size: 1.4em;
}
legend {
    font-size: 1.4em;
}
input {
    background-color: var(--pink1);
    border: 2px solid var(--dark2);
    border-radius: 6px;
    padding: 10px 10px;
    font-size: 1em;
    height: 30px;
}
select {
    background-color: var(--pink1);
    height: 54px;
    border: 2px solid var(--dark2);
    border-radius: 6px;
    padding: 10px 10px;
    font-size: 1em;
}
select:required:invalid {
    color: var(--phgray);
}
input[type="date"]:invalid {
    color: var(--phgray);
}
.select_defult {
    color: var(--phgray);
}
textarea{
    background-color: var(--pink1);
    border: 2px solid var(--dark2);
    border-radius: 6px;
    width: 100%;
    resize: none;
    grid-column-end: 2;
}
#dob {
    grid-column: 1;
}
#job_reference {
    grid-column: 1;
}
#otherskills {
    grid-column-end: 2;
}
.checkbox {
    height: auto;
}

#button_field input {
    transition: transform 0.2s;
    justify-content: center;
    grid-row-start: 2;
}

#button_field input:hover {
    transform: scale(1.03);
}
#reset {
    grid-column: 2;
    height: auto;
}
#submit {
    grid-column: 4;
    height: auto;
    background-color: var(--dark1);
    border-color: var(--dark1);
    color: var(--lightblue);
}

table#Reviews tr, th, td {
    padding: 12px;
    text-align: left;
    min-width: auto;
}

aside {
    border: 2px solid #251927;
    margin: 20px;              
    padding: 15px;             
    width: 25%;               
    float: right;              
    box-sizing: border-box;  
}

/* make decription lists more readable */
dt:after {
    content: ":";
}
dd {
    margin-bottom: 0.5em;
}

/* scale image figure in about.html */
figure {
    margin: 0;
    float: right;
    width: 50%;
    img {
        border: solid;
    }
}

#member-details {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
    li {
        background-color: rgb(219, 193, 220);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    dt:before {
        display: block;
        content: "";
    }
    dt {
        display: inline;
    }
    dd {
        display: inline;
        text-wrap: nowrap;
        margin: 0;
    }
}

#member-interests {
    justify-self: center;
    td {
        background-color: var(--pink1);
        border-radius: 0.2em;
    }
    td:hover {
        background-color: #c0a1b7;
    }
    th, td {
        border: 1px solid gray;
    }
}

#service_links {
    position: sticky;
    top: 10px;
    background-color: var(--pink1);
    padding: 10px;
    border: 2px solid var(--dark1);
    border-radius: 5px;
    ul {
        gap: 0.7em;
    }
    li {
        flex: 1 0 auto;
        display: grid;
        padding: 10px 15px;
        border: 2px solid var(--dark1);
        border-radius: 6px;
        text-decoration: none;
        background-color: var(--pink1);
        justify-content: center;
    }
    a {
        justify-self: center;
        padding: 0;
        color: var(--dark1);
    }
}

/* make details drop downs more obvious */
details {
    cursor: pointer;
}

