
h1{
    font-family: 'arya-double', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;

}

* {
    background-color: #0B91BA;
    font-family:Georgia, 'Times New Roman', Times, serif
}