body {
    background-color:#E9E3FF;
    margin: 0px;
}

h1{
    font-family: 'arya-double', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFADDC;
}

* {
    font-family:Georgia, 'Times New Roman', Times, serif
}

h2{ 
    font-family: 'apparat-thin', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.JobSection {
    display: flex;
    align-items: flex-start; /* Aligns text to the top */
    justify-content: space-between; /* Text on one side, image on the other */
    gap: 20px;
    padding: 20px;
}

.JobSpan {
    display: flex;
    flex-direction: column; /* Stacks text vertically */
    max-width: 60%; /* Prevents text from stretching too wide */
}

.JobImage {
    width: 40%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

header {
    padding: 8px;
    background-color: #201E23;
    display: flex;
    align-items: center;
    column-gap: 1em;
    box-shadow: 0px 0px 2px 1px #201e23;
}

nav ul {
    column-gap: 10px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    a {
        text-decoration: none;
        color: rgb(215, 235, 250);
    }
}

#header-logo {
    width: 10em;
    margin-bottom: -0.2em; /* center image around main text (looks better) */
}